// helper functions
@use "sass:map";
@use "sass:math";
@use "vars" as *;

// functions
$default-font-size: 16px;

@function stripUnit($value) {
    @return math.div($value , ($value * 0 + 1));
}
@function convertRem($pxValue) {
    @return #{math.div(stripUnit($pxValue) , stripUnit($default-font-size))}rem;
}

// mixins
@mixin text-style($size, $weight, $line-height) {
  
  @if $size != "inherit" {
  	font-size: convertRem(map.get(map.get($type-vars, sizes), $size));
  } @else {
  	font-size: inherit;
  }

  @if $weight != "inherit" {
  	font-weight: map.get(map.get($type-vars, weights), $weight);
  } @else {
  	font-weight: inherit;
  }

  @if $line-height != "inherit" {
  	line-height:  map.get(map.get($type-vars, line-heights), $line-height);
  } @else {
  	line-height: inherit;
  }

  @supports (font-variation-settings: normal) {
    font-variation-settings: 'wght' map.get(map.get($type-vars, weights), $weight);
  }
}

@mixin container-width($value) {
	@if $value == "padded" {
		padding-left: convertRem(110px); // equal to 1 col + 1 gutter @ 1060px max container
		padding-right: convertRem(110px); // equal to 1 col + 1 gutter @ 1060px max container
	} @else if $value > 0 {
		padding-left: convertRem($value);
		padding-right: convertRem($value);
	} @else {
		padding-left: 0;
		padding-right: 0;
	}
}

@mixin inner-flex-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-self: center;
  max-width: convertRem(1060px);
  margin-top: convertRem(120px);
}

@mixin split-column-layout-container {
  display: grid;
  place-items: start;
  grid-template-columns: 0.8fr 1.2fr;
  column-gap: convertRem(40px);
}

@mixin split-column-layout-side($side) {
  @if $side == "left" {
    grid-column-start: 1;
    grid-column-end: 2;
  } @else if $side == "right" {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}