// set up all the vars to pass forward

// super globals
// master value
$base__multiple: 8;

// font-family vars
$base__font-family--non-variable: 'PP Neue Montreal';
$base__font-family--variable: 'PP Neue Montreal V';
$base__font-family--system: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;
$base__font-family: $base__font-family--non-variable, 'Inter', sans-serif, $base__font-family--system;
$base__font-family--v: $base__font-family--variable, $base__font-family;

// font accessory vars
$base__font-weight: normal; // will override with text vars
$base__font-size-ratio: 62.5%;
$base__font-size: 16; // no need for repetition anymore, will use convertRem

// color accessory vars
$base__color--aplha-value: 0.4; // use with rgba()

// color theme vars
// in the future, will probably move these to a separate theme partial
// neutrals
$base__color--neutral--50: #F5F5F5;
$base__color--neutral--250: #C8CBD4;
$base__color--neutral--450: #82858F;
$base__color--neutral--650: #2B3038;
$base__color--neutral--800: #15181D;
$base__color--neutral--960: #090B0F;

// accents
$base__color--accent--slowpoke: #D189D8;
$base__color--accent--magikarp: #E4A464;

// themes
// will use sass lighten() and darken() mixins for variations
$theme__color--scyther: #B0FF42;
$theme__color--slowpoke: #D189D8;
$theme__color--magikarp: #E4A464;

// consumables
$primary__color: initial; // agnostic and globally overridden
$primary__color--background: $base__color--neutral--960;
$primary__color--background--alt: $base__color--neutral--800;
$primary__color--border: $primary__color--background--alt;
$primary__color--text: $base__color--neutral--50;
$primary__color--text--muted: $base__color--neutral--250;
$primary__color--text--darker: $base__color--neutral--450;
$primary__color--accent: $theme__color--scyther;
$accent__color--1: $theme__color--scyther;
$accent__color--2: $theme__color--slowpoke;
$accent__color--3: $theme__color--magikarp;
$accent__color--4: $primary__color--text--darker;
$ui__color--neutral: $base__color--neutral--650;

// text vars
// these will be much DRYer than the css var system, but will repeat with the mapped vars

// font sizes should be used with the convertRem() function
$text__font-size--h1: 64;
$text__font-size--h2: 32;
$text__font-size--h3: 24;
$text__font-size--h4: 16; // change to 16 when updating the design
$text__font-size--p: 16;
$text__font-size--big: 24;
$text__font-size--small: 14;

// line heights
$text__line-height--base: 1.6;
$text__line-height--display: 1.2; // makes large text more manageable
$text__line-height--ui: 1.4; // for misc ui copy (not components)
$text__line-height--fixed: 1.0!important; // short copy directive

// font weights
$text__font-weight--book: 375; // default
$text__font-weight--normal: 450;
$text__font-weight--medium: 530;
$text__font-weight--semibold: 700; // should be the boldest value used
$text__font-weight--bold: 800;

// map for use with dynamic classes and objects
$type-vars: (
	sizes: (
		h1: $text__font-size--h1,
		h2: $text__font-size--h2,
		h3: $text__font-size--h3,
		h4: $text__font-size--h4,
		p: $text__font-size--p,
		big: $text__font-size--big,
		small: $text__font-size--small,
	),
	line-heights: (
		base: $text__line-height--base,
		ui: $text__line-height--ui,
		display: $text__line-height--display,
		fixed: $text__line-height--fixed,
	),
	weights: (
		book: $text__font-weight--book,
		normal: $text__font-weight--normal,
		medium: $text__font-weight--medium,
		semibold: $text__font-weight--semibold,
		bold: $text__font-weight--bold,
	),
);