@use '@scss/vars' as *;
@use '@scss/helpers' as *;

/* support classes for tags */
/* link styles here for now to be referenced globally */
.link,
.link:link,
.link:active,
.link:visited {
  font-size: inherit;
  color: $primary__color--accent;
  text-wrap: balance;

  &:not(.link--display):not(.link--simple) {
    @include text-hover-effect(strike, 0.1s);
  }
}

.link {
  display: inline;

  &--inline {
    @include text-style(inherit, bold, inherit);
    text-decoration: underline solid convertRem(2px);
    color: inherit;
  }

  &--display {
    cursor: default !important;
    color: $primary__color--accent;
    margin-bottom: convertRem(-2px);
  }

  &--inline,
  &--breadcrumb {
    display: inline-flex;
    align-items: baseline;
    gap: convertRem(4px);

    svg {
      display: inline-flex;
      vertical-align: text-top;
      align-self: center;
      @include svgProps($scale: 1, $stroke: 3, $color: $primary__color--accent);
      margin-top: convertRem(-1px);

      &.icon--bigger {
        @include svgProps(
          $scale: 1,
          $height: convertRem(20px),
          $width: convertRem(20px),
          $stroke: 3,
          $color: $primary__color--accent
        );
        margin-top: 0;
        margin-left: convertRem(2px);
      }
    }
  }

  &--breadcrumb {
    gap: convertRem(8px);
    align-items: center;
  }

  &--simple {
    @include text-style(inherit, bold, inherit);
    color: unset !important;
    text-decoration: underline;
    text-decoration-thickness: convertRem(2px);
    transition: opacity 0.1s ease-in-out;

    &:hover {
      opacity: 0.9;
    }
  }

  &--super {
    text-decoration-thickness: convertRem(8px) !important;
    display: inline;
  }

  &--external-or-jump {
    margin-left: convertRem(2px);
  }

  &--subtle {
    @include text-style(inherit, medium, inherit);
    text-decoration: underline solid convertRem(2px);
    color: unset !important;

    .indicator {
      color: inherit;
      height: 100%;
    }

    &.is-active {
      @include text-style(inherit, bold, inherit);
      color: $primary__color--text !important;
      text-decoration-color: transparent !important;
      cursor: default !important;

      .indicator {
        color: $primary__color--accent !important;
      }
    }
  }

  // small optical adjustments for back anchor links
  &--back {
    display: flex;
    flex-direction: row;
    gap: convertRem(4px);
    place-items: center;
    text-decoration: none;
    @include text-style(p, medium, ui);

    svg {
      @include svgProps($scale: 1, $stroke: 3, $color: $primary__color--accent);
    }
  }
}
