// set up the round-robin vars and classes
:root {
  --base__multiplier: 8px;
  --base__font-family: 'Inter', system-ui;
  --base__font-family--display: 'Neue Haas Grotesk Display Pro', var(--base__font-family);
  --base__font-weight: var(--font-weight--normal);
  --base__font-size: calc(var(--base__multiplier)*2); 

  // [almost] all colors pass WCAG AA Normal Text (>4.50:1)
  // --base__color--#:;
  --base__color--fire: #E26D18;
  --base__color--ice: #2CE0D7;
  --base__color--electric: #FFCD1C;
  --base__color--poison: #16D48E;
  --base__color--psychic: #D775F0;
  --base__color--dark: #1E262A;
  --base__color--ghost: #FAFAFF;
  --base__color--steel: #A0B1BA; // steel is not accessible on ghost, but idgaf ¯\_(ツ)_/¯
  --base__color--water: #1499FF;
  --base__color--fighting: #EA5E3E;
  // --base__color--normal: #;

  // rgb variants for use with rgba
  // --base__color--#--rgb: 0, 0, 0;
  --base__color--fire--rgb: 226, 109, 24;
  --base__color--ice--rgb: 44, 224, 215;
  --base__color--electric--rgb: 255, 205, 28;
  --base__color--poison--rgb: 22, 212, 142;
  --base__color--psychic--rgb: 215, 117, 240;
  --base__color--dark--rgb: 30, 38, 42;
  --base__color--ghost--rgb: 250, 250, 255;
  --base__color--steel--rgb: 160, 177, 186;
  --base__color--water--rgb: 20, 153, 255;
  --base__color--fighting--rgb: 234, 94, 62;
  // --base__color--normal--rgb: 0, 0, 0;

  // use these in concert with the rem-fallback
  --base__spacing-1: calc(var(--base__multiplier)*1);
  --base__spacing-2: calc(var(--base__multiplier)*2);

  --primary__color: initial; // makes it totally agnostic and guaranteed to be overwritten
  --primary__color--background: var(--base__color--ghost);
  --primary__color--text: var(--base__color--dark);
  --primary__color--theme: var(--base__color--dark); // also known as the theme color
}

// programatic duplicate for darkmode @media, but im not relying on that query at the moment
// this is also basically unused (very un-dry of me) since im not doing a toggle atm, but will in the future
[data-mode="dark"] {
  --primary__color--background: var(--base__color--dark);
  --primary__color--background--rgb: var(--base__color--dark--rgb);
}

[data-mode="light"] {
  --primary__color--background: var(--base__color--ghost);
  --primary__color--background--rgb: var(--base__color--ghost--rgb);
}
