// because, modern
html {
  scroll-behavior: smooth;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--base__font-family);
  font-weight: var(--base__font-weight);
  @include convert-to-rem(font-size, 1); // equivalent to 1rem / 16px
  margin: 0;
  padding: 0;

  // theming vars
  &[data-theme="fire"] {
    --primary__color--background: var(--base__color--dark);
    --primary__color--text: var(--base__color--ghost);
    --primary__color--theme: var(--base__color--fire);
  }
  &[data-theme="ice"] {
    --primary__color--background: var(--base__color--dark);
    --primary__color--text: var(--base__color--ghost);
    --primary__color--theme: var(--base__color--ice);
  }
  &[data-theme="electric"] {
    --primary__color--background: var(--base__color--dark);
    --primary__color--text: var(--base__color--ghost);
    --primary__color--theme: var(--base__color--electric);
  }
  &[data-theme="poison"] {
    --primary__color--background: var(--base__color--dark);
    --primary__color--text: var(--base__color--ghost);
    --primary__color--theme: var(--base__color--poison);
  }
  &[data-theme="psychic"] {
    --primary__color--background: var(--base__color--dark);
    --primary__color--text: var(--base__color--ghost);
    --primary__color--theme: var(--base__color--psychic);
  }
  &[data-theme="ghost"] {
    --primary__color--background: var(--base__color--ghost);
    --primary__color--text: var(--base__color--dark);
    --primary__color--theme: var(--base__color--steel);
  }
  &[data-theme="steel"] {
    --primary__color--background: var(--base__color--dark);
    --primary__color--text: var(--base__color--ghost);
    --primary__color--theme: var(--base__color--steel);
  }
  &[data-theme="water"] {
    --primary__color--background: var(--base__color--dark);
    --primary__color--text: var(--base__color--ghost);
    --primary__color--theme: var(--base__color--water);
  }
  &[data-theme="fighting"] {
    --primary__color--background: var(--base__color--dark);
    --primary__color--text: var(--base__color--ghost);
    --primary__color--theme: var(--base__color--fighting);
  }
  
  /* influence these based on the data-theme */
  background-color: var(--primary__color--background);
  color: var(--primary__color--text);
}
body {
  @include convert-to-rem(font-size, 1);
  line-height: 1.625;
}

.theme__highlight {
  @include convert-to-rem(height, 0.5);
  background-color: var(--primary__color--theme);
}

// import typography settings
@import '_typography';

// import grid settings
// controversial to put this at the bottom, but im optimistic this time around
@import '_grid';