// set up the round-robin vars and classes
:root {
	// these font-sizes are really only here for reference
	--text__font-size--h1: 72; //pair with --text__line-height--display
	--text__font-size--h2: 32; //pair with --text__line-height--display
	--text__font-size--p: 16;
	--text__font-size--small: 12;

	--text__line-height--base: 1.625;
	--text__line-height--display: 1.25; // otherwise the line-height is HUGE
	--text__line-height--display--mod: 1.4; // otherwise the line-height is HUGE

	--text__font-weight--normal: 400;
	--text__font-weight--medium: 600;
	--text__font-weight--bold: 800;
}

h1,
h2,
h3,
h4 {
	font-family: var(--base__font-family--display);
	line-height: var(--text__line-height--display);
	@include convert-to-rem(letter-spacing, -0.001*62.5); // use the 62.5 trick
}

// line-height for p and other elements should be inherited from the body

h1 {
	@include convert-to-rem(font-size, 4.5);
	font-weight: var(--text__font-weight--bold);
	color: var(--primary__color--theme);

	@media (max-width: 980px) {
		@include convert-to-rem(font-size, 4);
	}
}

h2 {
	@include convert-to-rem(font-size, 2);
	font-weight: var(--text__font-weight--medium);
	line-height: var(--text__line-height--display--mod);
	color: var(--primary__color--text);

	@media (max-width: 980px) {
		@include convert-to-rem(font-size, 1.5);
	}
}