a {
  white-space: nowrap;
}

h1,
h2,
h3,
h4,
p,
em,
small {
  
  a {
    color: inherit;
    text-decoration: solid underline var(--primary__color--theme);
    @include convert-to-rem(text-decoration-thickness, 0.25);
    -moz-text-decoration-line: underline;
    -moz-text-decoration-style: solid;
    -moz-text-decoration-color: var(--primary__color--theme);

    &:hover {
      color: var(--primary__color--theme);
    }
  }
}

p {

  a {
    @include convert-to-rem(text-decoration-thickness, 0.125);
  }
}

li { 
  display: inline-flex;
  color: var(--primary__color--text);
  @include convert-to-rem(letter-spacing, -0.00024*62.5); // use the 62.5 trick

  a {
    box-sizing: content-box;
    color: inherit;
    font-weight: var(--text__font-weight--bold);
    text-decoration: none;
    line-height: 1;
    border-style: solid;
    @include convert-to-rem(border-radius, 1.25);
    @include convert-to-rem(border-width, 0.25);
    border-color: var(--primary__color--theme);
    padding: 0.5rem 1rem;

    &:hover {
      color: var(--primary__color--theme);
    }
  }
}