// import functions
@use "@scss/vars" as *;
@use "@scss/functions";

// container classes
.container {

	&__grid {
		display: inline-grid;
  		-moz-column-gap: convertRem($base__font-size * 2.5);
  		column-gap: convertRem($base__font-size * 2.5);
  		grid-template-columns: repeat(8, 1fr);
  		height: initial;
  		max-width: 100vw;
	}
}

.hidden {
  display: none;
}