@use '@scss/vars' as *;
@use '@scss/helpers' as *;

/* support classes for tags */
/* link styles here for now to be referenced globally */
.link,
.link:link,
.link:active,
.link:visited {
  font-size: inherit;
  color: $primary__color--accent;

  &:not(.link--display) {
    @include text-hover-effect(strike, 0.1s);
  }
}

.link {
  &--inline {
    @include text-style(inherit, bold, inherit);
    text-decoration: underline solid convertRem(2px);
    color: inherit;
  }

  &--display {
    cursor: default !important;
    color: $primary__color--accent;
    margin-bottom: convertRem(-2px);
  }

  &--inline,
  &--display {
    display: inline-flex;
    align-items: baseline;
    gap: convertRem(4px);

    svg {
      display: inline-flex;
      vertical-align: text-top;
      align-self: center;
      height: convertRem(16px);
      width: auto;
      margin-top: 0;
    }
  }
}

.link--external-or-jump {
  margin-left: convertRem(2px);
}

// small optical adjustments for back anchor links
.link--back {
  display: flex;
  flex-direction: row;
  gap: convertRem(4px);
  place-items: center;
  text-decoration: none;
  font-size: convertRem(16px);

  svg {
    height: convertRem(16px);
    width: auto;
  }
}
