@use "@scss/functions" as *;
@use "@scss/vars" as *;

/* support classes for tags */
.tag {
  height: unset;
  display: inline-flex;
  align-items: center;
  font-size: convertRem($text__font-size--p);
  font-weight: $text__font-weight--medium;
  line-height: $text__line-height--fixed;
  padding: convertRem(8px) 0;
  background-color: $primary__color--background;
  color: inherit;
}

.tag span {
  white-space: nowrap;
}

.tag svg {
  height: convertRem($base__font-size);
  margin-right: convertRem(8px);
  width: auto;
  color: inherit;
}

.tag--private {
  gap: convertRem(4px); /* occular adjusment */
  color: $primary__color--accent;

  svg {
    margin-right: convertRem(4px);
  }
}

.tag--testing {
  gap: convertRem(4px); /* occular adjusment */
  color: #DEB94A;

  svg {
    margin-right: convertRem(2px);
  }
}

.tag--in-dev {
  color: #E4A464;
}

.tag--beta {
  color: #D189D8;
}

.tag--shipped {
  color: $primary__color--accent;
}

.tag--freelance {
  color: $primary__color--text--muted;
}

.tag--availability {
  padding: convertRem(8px) convertRem(12px);
  border-radius: convertRem(8px);
  background-color: $primary__color--accent;
  color: $primary__color--background;
}

.tag--availability span {
  font-size: convertRem(20px);
  line-height: $text__line-height--fixed;
  font-weight: $text__font-weight--medium;
  color: inherit;
}

.tag--availability svg {
  height: convertRem(20px);
}



.tag__snackbar,
ul.tag__snackbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: convertRem(8px);

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  li {
    position: relative;
    height: unset;
    display: inline-flex;
    align-items: center;
    font-size: convertRem($text__font-size--p);
    line-height: $text__line-height--fixed;
    padding-left: convertRem(12px);
    padding-right: convertRem(12px);

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;

        &::after {
            display: none;
        }
    }

    &::after {
        position: absolute;
        content: '';
        top: convertRem(14px);
        right: convertRem(-7px);
        display: inline-block;
        vertical-align: middle;
        height: convertRem(4px);
        width: convertRem(4px);
        border-radius: convertRem(999px);
        background-color: $ui__color--neutral;
    }
  }

  &.snackbar__inline {

    li {
      padding-top: 0;
      padding-right: convertRem(8px);
      padding-bottom: 0;
      padding-left: convertRem(8px);

      &:first-child {
        padding-left: 0;
      }

      &::after {
        top: convertRem(7px);
      }
    }
  }

  &.snackbar--no-gap {
    gap: 0;
  }

  span:not(li span) {
    position: relative;
    font-size: convertRem($text__font-size--p);
    font-weight: $text__font-weight--regular;
    line-height: $text__line-height--fixed;
    padding: convertRem(8px) 0;
    flex-wrap: inherit;
    color: $primary__color--text--darker;

    &:first-of-type {
      font-weight: $text__font-weight--bold;

      &:has(+ ul) {
        margin-right: 32px;

        &::after {
          position: absolute;
          content: '';
          top: convertRem(14px);
          right: convertRem(-17px);
          display: inline-block;
          vertical-align: middle;
          height: convertRem(4px);
          width: convertRem(4px);
          border-radius: convertRem(999px);
          background-color: $ui__color--neutral;
        }
      }
    }

    &:last-of-type {
      flex: auto;
      font-weight: $text__font-weight--medium;
      text-align: right;
    }
  }
}