/* because, modern */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--base__font-family);
  font-size: var(--base__font-size-percentage);
  font-weight: var(--base__font-weight);
  line-height: var(--text__line-height--base);
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* reset all inheritance of these so we have a clean slate */
  background-color: unset;
  color: unset;

  /* experimenting with some things... */
  writing-mode: horizontal-tb;
  column-count: 1;
}

.theme__highlight {
  border-top-style: solid;
  border-top-color: var(--primary__color--theme);
}

@supports (font-variation-settings: normal) {
  body {
    font-family: var(--base__font-family--v);
  }
}

.container__grid {
  display: grid;
  -moz-column-gap: calc((var(--base__font-size) * 2.5) * 1px);
  -moz-column-gap: calc((var(--base__font-size) * 2.5) / var(--base__font-size) * 1rem);
  column-gap: calc((var(--base__font-size) * 2.5) * 1px);
  column-gap: calc((var(--base__font-size) * 2.5) / var(--base__font-size) * 1rem);
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto 1fr auto; /* later, i will need to move this to a different place when there is more content */
  height: 100vh;
  max-width: 100vw;
}

.container--fill {
  grid-auto-flow: column;
  grid-column: auto / span 8;
}

.container--simple {
  grid-column: 1 / span 6;
}

.container--tight {
  grid-column: 3 / span 5;
}

.container--tighter {
  grid-column: 3 / span 4;
}

@media (min-width: 100rem) {
  .container__grid {
  }
}

@media (max-width: 64rem) {
  .container__grid {
    max-width: 100vw;
    grid-column-start: none;
  }

  .container__simple {
    grid-column: 1 / span 8;
  }
}

.hidden {
  display: none;
}
