/* set up the round-robin vars and classes */
:root {
  --base__multiplier: 8;
  --base__font-family--non-variable: 'PP Neue Montreal';
  --base__font-family--variable: "PP Neue Montreal V";
  --base__font-family--system: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;
  --base__font-family: var(--base__font-family--non-variable), 'Inter', sans-serif, var(--base__font-family--system);
  --base__font-family--v: var(--base__font-family--variable), var(--base__font-family);
  --base__font-weight: var(--text__font-weight--book);
  --base__font-size-percentage: 62.5;
  --base__font-size: calc(var(--base__multiplier) * 2);
  --base__font-size--px: calc(var(--base__multiplier) * 2px);
  --base__font-size--rem: calc(var(--base__multiplier) * 2rem); 

  /* new color set (will deprecate old ones after) */
  /* influenced HEAVILY by NY MTA styleguide) */
  --base__color--black-1: #1B1C1C;
  --base__color--black-2: #2A2B2B;
  --base__color--gray-1: #808183;
  --base__color--gray-2: #A7A9AC;
  --base__color--gray-3: #F8F8F8;
  --base__color--white: #FFFFFF;
  --base__color--blue-1: #0039A6; /* this is the main theme color right now */
  --base__color--blue-2: #002B7D;
  --base__color--blue-3: #A4C4FF; /* use for colophon and anchor in footer */

  /* special prefixed vars correspond to specific things that are immuatable, like brand colors */
  /* define social media platform colors */
  --special__social-color--linkedin: #0A66C2;
  --special__social-color--figma: #000000;
  --special__social-color--github: #000000;
  --special__social-color--dribbble: #EA4C89;
  --special__social-color--instagram: #C13584;

  /* when using with rgba, default value for alpha should be 0.4!!! */
  --base__color-alpha-value: 0.4;

  --primary__color: initial; /* makes it totally agnostic and guaranteed to be overwritten */
  --primary__color--background: var(--base__color--white);
  --primary__color--text: var(--base__color--black-2);
  --primary__color--theme: var(--base__color--blue-1); /* also known as the theme color */
}

/* programatic duplicate for darkmode @media, but im not relying on that query at the
   moment. this is also basically unused (very un-dry of me) since im not doing a toggle atm,
   but will in the future 
[data-mode="dark"] {
  --primary__color--background: var(--base__color--dark);
  --primary__color--background--rgb: var(--base__color--dark--rgb);
}

[data-mode="light"] {
  --primary__color--background: var(--base__color--ghost);
  --primary__color--background--rgb: var(--base__color--ghost--rgb);
} */