/* because, modern */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--base__font-family);
  font-size: var(--base__font-size-percentage);
  font-weight: var(--base__font-weight);
  line-height: var(--text__line-height--base);
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* influence these based on the data-theme */
  background-color: unset;
  color: unset;

  /* theming vars */
  &[data-theme="fire"] {
    --primary__color--background: var(--base__color--dark);
    --primary__color--text: var(--base__color--ghost);
    --primary__color--theme: var(--base__color--fire);
    background-color: var(--primary__color--background);
    color: var(--primary__color--text);
  }
  &[data-theme="ice"] {
    --primary__color--background: var(--base__color--dark);
    --primary__color--text: var(--base__color--ghost);
    --primary__color--theme: var(--base__color--ice);
    background-color: var(--primary__color--background);
    color: var(--primary__color--text);
  }
  &[data-theme="electric"] {
    --primary__color--background: var(--base__color--dark);
    --primary__color--text: var(--base__color--ghost);
    --primary__color--theme: var(--base__color--electric);
    background-color: var(--primary__color--background);
    color: var(--primary__color--text);
  }
  &[data-theme="poison"] {
    --primary__color--background: var(--base__color--dark);
    --primary__color--text: var(--base__color--ghost);
    --primary__color--theme: var(--base__color--poison);
    background-color: var(--primary__color--background);
    color: var(--primary__color--text);
  }
  &[data-theme="psychic"] {
    --primary__color--background: var(--base__color--dark);
    --primary__color--text: var(--base__color--ghost);
    --primary__color--theme: var(--base__color--psychic);
    background-color: var(--primary__color--background);
    color: var(--primary__color--text);
  }
  &[data-theme="ghost"] {
    --primary__color--background: var(--base__color--ghost);
    --primary__color--text: var(--base__color--dark);
    --primary__color--theme: var(--base__color--steel);
    background-color: var(--primary__color--background);
    color: var(--primary__color--text);
  }
  &[data-theme="steel"] {
    --primary__color--background: var(--base__color--dark);
    --primary__color--text: var(--base__color--ghost);
    --primary__color--theme: var(--base__color--steel);
    background-color: var(--primary__color--background);
    color: var(--primary__color--text);
  }
  &[data-theme="water"] {
    --primary__color--background: var(--base__color--dark);
    --primary__color--text: var(--base__color--ghost);
    --primary__color--theme: var(--base__color--water);
    background-color: var(--primary__color--background);
    color: var(--primary__color--text);
  }
  &[data-theme="fighting"] {
    --primary__color--background: var(--base__color--dark);
    --primary__color--text: var(--base__color--ghost);
    --primary__color--theme: var(--base__color--fighting);
    background-color: var(--primary__color--background);
    color: var(--primary__color--text);
  }
}

.theme__highlight {
  border-top-style: solid;
  border-top-color: var(--primary__color--theme);
}