/* vars first */
@import './_vars.css';

/* then reset */
@import './_reset.css';

/* and then the base package */
@import './_base.css';
/*@import './base.css';*/

/* finally we import the base partials since they inherit downstream rules */
@import './_typography.css';

body {
  
  /* just temporary, but for now gonna fix to one color scheme.
     when i have time, i'll come back and add the pokedex and those features. */
  --primary__color--background: var(--base__color--dark);
  --primary__color--text: var(--base__color--ghost);
  --primary__color--theme: var(--base__color--water);
  background-color: var(--primary__color--background);
  color: var(--primary__color--text);
  min-height: 100vh;
}

/*#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}*/
