// because, modern
html {
  scroll-behavior: smooth;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--base__font-family);
  font-weight: var(--base__font-weight);
  @include convert-to-rem(font-size, 1); // equivalent to 1rem / 16px
  margin: 0;
  padding: 0;
  &[data-theme="blue"] {
    --primary__color: var(--base__color--blue);
    --primary__color--hex: var(--base__color--blue--hex);
  }
  &[data-theme="green"] {
    --primary__color: var(--base__color--green);
    --primary__color--hex: var(--base__color--green--hex);
  }
  &[data-theme="yellow"] {
    --primary__color: var(--base__color--yellow);
    --primary__color--hex: var(--base__color--yellow--hex);
  }
  &[data-theme="orange"] {
    --primary__color: var(--base__color--orange);
    --primary__color--hex: var(--base__color--orange--hex);
  }
  /* influence these based on the data-theme */
  background-color: var(--primary__background);
  color: var(--primary__text-color);
}
body {
  @include convert-to-rem(font-size, 0.875);
}
